# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VSCode
.idea/
.vscode/

# MacOS
.DS_Store

# Local data and archives

*.tar
*.tar.gz
*.tgz
*.bz2

# Test / coverage
.coverage
.pytest_cache/
.tox/

# Logs
logs/
*.log

# Git directories accidentally copied
**/.git/

sad/stages/private_data_gen/
sad/stages/oversight/structs/
sad/id_leverage/entity_id/*
!sad/id_leverage/entity_id/task_generic.py
!sad/id_leverage/entity_id/task_generic_names.py
sad/self_recognition/evals/*
sad/stages/oversight/evals/*
sad/id_leverage/private_data/
sad/id_leverage/private_exout/
sad/id_leverage/structs/
sad/id_leverage/private_idlev/

sad/self_recognition/text_corpus/


